* text=auto
# * text eol=crlf

*.txt eol=crlf
*.java eol=crlf
*.js eol=crlf
*.html eol=crlf
*.css eol=crlf
*.svg eol=crlf
*.xml eol=crlf
*.kts eol=crlf
*.bat eol=crlf
*.gradle eol=crlf
*.kts eol=crlf
*.kt eol=crlf

# shell scripts:
*.sh eol=lf

# config files:
*.json eol=crlf
*.yaml eol=crlf
*.yml eol=crlf
*.properties eol=crlf
*.md eol=crlf
*.adoc eol=crlf
*.toml eol=crlf

# binary files:
*.class binary
*.jar binary
*.zip binary
*.tar binary
*.gz binary
*.rar  binary
*.gif  binary
*.jpeg  binary
*.jpg  binary
*.png  binary
*.vsd  binary

# special files:
gradlew eol=lf
*.binary binary